.waterfall-ct{
	position: relative;
	width: 1140px;
	margin: 0 auto;
}
.waterfall-ct .item{
	position: absolute;
	width: 200px;
	border: 1px solid #dfdfdf;
	box-shadow: 2px 2px 2px #e8e8e8, -2px -2px 2px #e8e8e8;
	margin: 10px;
}
.waterfall-ct .item img{
	width: 176px;
	margin: 12px;
}
.waterfall-ct .item h4{
	border-bottom: 1px solid #dbdbdb;
	margin: 0 12px;
}
.waterfall-ct .item p{
	font-size: 12px;
	line-height: 1.8;
	margin: 10px 15px;
	color: #777371;
}
.hide{
	display: none;
}
#load{
	margin-top: 15px;
}